.wrapper {
  height: calc(100vh - 10rem);
  padding: 5rem 0 3rem;
  display: grid;
  grid-template-rows: 1fr 16.5rem;
}

.chat {
  background: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
  overflow-y: auto;
  padding: 5rem 5rem 0;
}

.form {
  background: #D4D6F0;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 3rem 3rem 5rem;
}

.field {
  position: relative;
  height: 100%;
  width: 100%;
}

.input {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 0 22rem 0 3rem;
  color: #00041580;
  font-size: 1.8rem;
}

.input::placeholder {
  color: #00041580;
}

.control {
  position: absolute;
  top: 0;
  right: 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: #717171;
}

.control > * {
  margin-right: 4rem;
  cursor: pointer;
}

.control > *:last-child {
  margin-right: 0;
}

.buttonSend {
  width: 5rem;
  height: 5rem;
  background: linear-gradient(164.08deg, #2A8BF2 9.54%, #0A6CD6 90.23%);
  color: #fff;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}