.form__field {
  position: relative;
  width: 100%;
  margin: 2rem 0 0;
}

.form__field:first-child {
  margin: 0;
}

.form__field-input {
  width: 100%;
  height: 6rem;
  background: #FFFFFF;
  border: 1px solid #BABABA;
  border-radius: 1rem;
  padding: 2rem 2rem 2rem 8rem;
  color: rgba(0, 4, 21, 0.5);
  outline: none;
}

.form__field-input::placeholder {
  color: rgba(0, 4, 21, 0.5);
}

.form__field_password .form__field-input {
  padding-right: 6rem;
}

.form__field-icon {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100%;
  background: #9CBCDE;
  color: #fff;
  border-radius: 1rem 0 0 1rem;
}

.form__field-show-pass {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  color: #bababa;
}