.main {
  width: 100vw;
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 35vw 65vw;
  padding-top: 1px;
}

.sidebar {
  background: linear-gradient(90.01deg, #2A8BF2 0.01%, #0A6CD6 99.99%);
}

.changeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: calc((100vw - min(160rem, 100vw)) / 2);
  padding: 10rem 2rem 0;
}

.image {
  margin: 0 0 1rem;
  display: block;
  width: 100%;
  max-width: 24.3rem;
  max-height: 24.3rem;
  border-radius: 1rem;
  overflow: hidden;
}

.image img {
  max-width: 100%;
  display: block;
}

.buttonChangePhoto {
  border: none;
  background: none;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.2rem;
  cursor: pointer;
} 

.content {
  padding: 10rem 2rem 0;
  margin-right: calc((100vw - min(160rem, 100vw)) / 2);
}

.form {
  width: 90rem;
  max-width: 100%;
}

.field {
  position: relative;
  width: 100%;
  margin: 3rem 0 0;
}

.field:first-child {
  margin: 0;
}

.input {
  width: 100%;
  height: 8.5rem;
  background: #FFFFFF;
  border: 1px solid #BABABA;
  border-radius: 1rem;
  padding: 3rem 6rem 3rem 3rem;
  color: rgba(0, 4, 21, 0.5);
  outline: none;
  font-size: 1.8rem;
}

.input::placeholder {
  color: rgba(0, 4, 21, 0.5);
}

.fieldIcon {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  color: #717171;
}

.buttonSave {
  background: linear-gradient(206.57deg, #6476F4 0%, #3246D3 83.33%);
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-size: 2.2rem;
  line-height: 2.7rem;
  font-weight: 500;
  height: 8.5rem;
  margin-top: 3rem;
  padding: 3rem 5.5rem;
  cursor: pointer;
}

.buttonSave:hover {
  background: linear-gradient(206.57deg, #3246D3 0%, #6476F4 83.33%);
}

.inputChangeImage {
  width: 100%;
  height: 6rem;
  background: #FFFFFF;
  border: 1px solid #BABABA;
  border-radius: 1rem;
  padding: 2rem;
  color: rgba(0, 4, 21, 0.5);
  outline: none;
}

.buttonChangeImage {
  background: #0B6DD7;
  border: 2px solid #0B6DD7;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  height: 6rem;
  text-align: center;
  cursor: pointer;
  margin: 2.25rem 0 0;
}

@media (max-width: 575px) { 
  .main {
    display: block;
  }
  
  .changeImage {
    padding: 3rem;
  }

  .content {
    padding: 3rem;
  }
}